<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier la Recette</title>
</head>
<body>
    <a href="/">⬅ Retour</a>
    <h2>Modifier : {{ recette.titre }}</h2>

    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Titre :</label><br>
            <input type="text" name="titre" value="{{ recette.titre }}" required>
        </div>
        <br>
        <div>
            <label>Catégorie :</label><br>
            <select name="categorie">
                <option value="plat" {% if recette.categorie == 'plat' %}selected{% endif %}>Plat</option>
                <option value="dessert" {% if recette.categorie == 'dessert' %}selected{% endif %}>Dessert</option>
                <option value="cocktail" {% if recette.categorie == 'cocktail' %}selected{% endif %}>Cocktail</option>
            </select>
        </div>
        <br>
        <div>
            <label>Temps de préparation (min) :</label><br>
            <input type="number" name="temps" value="{{ recette.tempspreparation }}" required>
        </div>
        <br>
        <button type="submit">Mettre à jour</button>
    </form>
</body>
</html>